format = """
[░▒▓](#a3aed2)\
[  ](bg:#a3aed2 fg:#090c0c)\
[](bg:#769ff0 fg:#a3aed2)\
$directory\
[](fg:#769ff0 bg:#394260)\
$git_branch\
$git_status\
[](fg:#394260 bg:#2d344b)\
${custom.nodejs}\
[](fg:#2d344b bg:#212736)\
${custom.pyenv}\
[](fg:#212736)\
\n$character"""

[directory]
style = "fg:#e3e5e5 bg:#769ff0"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[git_branch]
symbol = ""
style = "bg:#394260"
format = '[[ $symbol $branch ](fg:#769ff0 bg:#394260)]($style)'

[git_status]
style = "bg:#394260"
format = '[[($all_status$ahead_behind )](fg:#769ff0 bg:#394260)]($style)'

# [nodejs]
# symbol = ""
# style = "bg:#2d344b"
# format = '[[ $symbol ($version) ](fg:#769ff0 bg:#2d344b)]($style)'
# disabled = true

# [rust]
# symbol = ""
# style = "bg:#212736"
# format = '[[ $symbol ($version) ](fg:#769ff0 bg:#212736)]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#1d2230"
format = '[[  $time ](fg:#a0a9cb bg:#1d2230)]($style)'

[kubernetes]
symbol="☸"
style = "bg:#212736"
format = '[[ $symbol ($context \($namespace\)) ](fg:#769ff0 bg:#212736)]($style)'
disabled = false
contexts = [
  { context_pattern = "monday-euw2-a_okteto_dev", context_alias = "okteto-euw2" }
]

[custom.nodejs]
command = "node --version | tr -d '\n'"
when = true
symbol = "󰎙"
style = "bg:#2d344b"
format = '[[ $symbol $output ](fg:#769ff0 bg:#2d344b)]($style)'
disabled = false

[custom.pyenv]
command = "if command -v pyenv >/dev/null 2>&1; then version=$(pyenv version-name 2>/dev/null); if [ -n \"$version\" ]; then if [ -n \"$VIRTUAL_ENV\" ]; then venv=$(basename \"$VIRTUAL_ENV\"); echo \"$version ($venv)\"; else venv=$(pyenv virtualenv-name 2>/dev/null); if [ -n \"$venv\" ] && [ \"$venv\" != \"system\" ]; then echo \"$version ($venv)\"; else echo \"$version\"; fi; fi; fi; fi"
when = "command -v pyenv >/dev/null 2>&1"
symbol = "󰌠"
style = "bg:#212736"
format = '[[ $symbol $output ](fg:#769ff0 bg:#212736)]($style)'
disabled = false
