keybinds clear-defaults=true {
    normal {
        // Movement in normal mode
        bind "h" { MoveFocus "left"; }
        bind "j" { MoveFocus "down"; }
        bind "k" { MoveFocus "up"; }
        bind "l" { MoveFocus "right"; }
        bind "J" { GoToNextTab; }
        bind "K" { GoToPreviousTab; }
        
        // Quick actions
        bind "+" "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        
        // Mode switches (single keys!)
        bind "v" { SwitchToMode "pane"; }
        bind "t" { SwitchToMode "tab"; }
        bind "r" { SwitchToMode "resize"; }
        bind "m" { SwitchToMode "move"; }
        bind "s" { SwitchToMode "scroll"; }
        bind "o" { SwitchToMode "session"; }
    }
    
    locked {
        bind "Ctrl space" { SwitchToMode "normal"; }
    }
    
    pane {
        bind "h" "left" { MoveFocus "left"; }
        bind "j" "down" { MoveFocus "down"; }
        bind "k" "up" { MoveFocus "up"; }
        bind "l" "right" { MoveFocus "right"; }
        
        bind "n" { NewPane; SwitchToMode "locked"; }
        bind "d" { NewPane "down"; SwitchToMode "locked"; }
        bind "r" { NewPane "right"; SwitchToMode "locked"; }
        bind "x" { CloseFocus; SwitchToMode "locked"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "locked"; }
        bind "z" { TogglePaneFrames; SwitchToMode "locked"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "locked"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
        bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "tab" { SwitchFocus; }
        bind "p" { SwitchToMode "normal"; }
    }
    
    tab {
        bind "h" "left" { GoToPreviousTab; }
        bind "l" "right" { GoToNextTab; }
        bind "j" "down" { GoToNextTab; }
        bind "k" "up" { GoToPreviousTab; }
        
        bind "n" { NewTab; SwitchToMode "locked"; }
        bind "x" { CloseTab; SwitchToMode "locked"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "locked"; }
        bind "[" { BreakPaneLeft; SwitchToMode "locked"; }
        bind "]" { BreakPaneRight; SwitchToMode "locked"; }
        bind "b" { BreakPane; SwitchToMode "locked"; }
        
        bind "1" { GoToTab 1; SwitchToMode "locked"; }
        bind "2" { GoToTab 2; SwitchToMode "locked"; }
        bind "3" { GoToTab 3; SwitchToMode "locked"; }
        bind "4" { GoToTab 4; SwitchToMode "locked"; }
        bind "5" { GoToTab 5; SwitchToMode "locked"; }
        bind "6" { GoToTab 6; SwitchToMode "locked"; }
        bind "7" { GoToTab 7; SwitchToMode "locked"; }
        bind "8" { GoToTab 8; SwitchToMode "locked"; }
        bind "9" { GoToTab 9; SwitchToMode "locked"; }
        
        bind "tab" { ToggleTab; }
        bind "t" { SwitchToMode "normal"; }
    }
    
    resize {
        bind "h" "left" { Resize "Increase left"; }
        bind "j" "down" { Resize "Increase down"; }
        bind "k" "up" { Resize "Increase up"; }
        bind "l" "right" { Resize "Increase right"; }
        bind "H" { Resize "Decrease left"; }
        bind "J" { Resize "Decrease down"; }
        bind "K" { Resize "Decrease up"; }
        bind "L" { Resize "Decrease right"; }
        bind "+" "=" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "r" { SwitchToMode "normal"; }
    }
    
    move {
        bind "h" "left" { MovePane "left"; }
        bind "j" "down" { MovePane "down"; }
        bind "k" "up" { MovePane "up"; }
        bind "l" "right" { MovePane "right"; }
        bind "n" "tab" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "m" { SwitchToMode "normal"; }
    }
    
    scroll {
        bind "e" { EditScrollback; SwitchToMode "locked"; }
        bind "f" "/" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "j" "down" { ScrollDown; }
        bind "k" "up" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "Ctrl f" "PageDown" { PageScrollDown; }
        bind "Ctrl b" "PageUp" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "locked"; }
    }
    
    search {
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "locked"; }
    }
    
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "scroll"; }
        bind "Enter" { SwitchToMode "search"; }
    }
    
    session {
        bind "o" { SwitchToMode "normal"; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
        bind "a" {
            LaunchOrFocusPlugin "zellij:about" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked"
        }
        bind "q" {
            LaunchOrFocusPlugin "zj-quit" {
                floating true
            }
            SwitchToMode "locked"
        }
    }
    
    renametab {
        bind "Ctrl c" { SwitchToMode "locked"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "tab"; }
    }
    
    renamepane {
        bind "Ctrl c" { SwitchToMode "locked"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "pane"; }
    }
    
    // Global shortcuts
    shared_except "locked" {
        bind "Ctrl space" { SwitchToMode "locked"; }
    }
    
    shared_except "locked" "entersearch" {
        bind "Enter" { SwitchToMode "locked"; }
        bind "Ctrl q" {
            SwitchToMode "locked"; 
            LaunchOrFocusPlugin "zj-quit" {
                floating true
            }
        }
    }
    
    shared_except "locked" "entersearch" "renametab" "renamepane" {
        bind "Esc" { SwitchToMode "locked"; }
    }
}


plugins {
    // Built in
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    about location="zellij:about"

    // User
    zj-quit location="https://github.com/cristiand391/zj-quit/releases/download/0.3.1/zj-quit.wasm" {
        confirm_key "y"
        cancel_key "Esc"
    }
    zj-forgot location="https://github.com/karimould/zellij-forgot/releases/download/0.4.2/zellij_forgot.wasm" {
        "LOAD_ZELLIJ_BINDINGS" "false"

        // Mode switching
        "lock mode"                 "ctrl + space"
        "unlock to normal"          "ctrl + space (in locked)"
        "pane mode"                 "v"
        "tab mode"                  "t"
        "resize mode"               "r"
        "move mode"                 "m"
        "scroll mode"               "s"
        "session mode"              "o"

        // Normal mode navigation
        "focus left"                "h"
        "focus down"                "j"
        "focus up"                  "k"
        "focus right"               "l"
        "next tab"                  "J"
        "previous tab"              "K"
        "increase size"             "+"
        "decrease size"             "-"

        // Pane mode
        "new pane"                  "v + n"
        "new pane down"             "v + d"
        "new pane right"            "v + r"
        "close pane"                "v + x"
        "fullscreen pane"           "v + f"
        "toggle frames"             "v + z"
        "toggle floating"           "v + w"
        "toggle embed/float"        "v + e"
        "rename pane"               "v + c"
        "switch focus"              "v + tab"
        "exit pane mode"            "v + p"

        // Tab mode
        "new tab"                   "t + n"
        "close tab"                 "t + x"
        "rename tab"                "t + r"
        "sync tab"                  "t + s"
        "break pane"                "t + b"
        "break pane left"           "t + ["
        "break pane right"          "t + ]"
        "toggle tab"                "t + tab"
        "go to tab 1-9"             "t + 1-9"

        // Resize mode
        "resize left"               "r + h"
        "resize down"               "r + j"
        "resize up"                 "r + k"
        "resize right"              "r + l"
        "shrink left"               "r + H"
        "shrink down"               "r + J"
        "shrink up"                 "r + K"
        "shrink right"              "r + L"

        // Move mode
        "move pane left"            "m + h"
        "move pane down"            "m + j"
        "move pane up"              "m + k"
        "move pane right"           "m + l"
        "move pane"                 "m + n"
        "move pane backwards"       "m + p"

        // Scroll mode
        "edit scrollback"           "s + e"
        "search"                    "s + f or /"
        "scroll down"               "s + j"
        "scroll up"                 "s + k"
        "half page down"            "s + d"
        "half page up"              "s + u"
        "page down"                 "s + ctrl + f"
        "page up"                   "s + ctrl + b"
        "scroll to bottom"          "s + ctrl + c"

        // Session mode
        "detach"                    "o + d"
        "session manager"           "o + w"
        "configuration"             "o + c"
        "plugin manager"            "o + p"
        "about"                     "o + a"
        "quit"                      "o + q"

        // Global
        "quit zellij"               "ctrl + q"
        "return to locked"          "enter or esc"
    }
    zjstatus location="https://github.com/dj95/zjstatus/releases/download/v0.22.0/zjstatus.wasm"
    zjstatus-hints location="https://github.com/b0o/zjstatus-hints/releases/download/v0.1.4/zjstatus-hints.wasm" {
        max_length 0
        overflow_str ""
        pipe_name "zjstatus_hints"
    }
}

load_plugins {
  zjstatus-hints
}

ui {
    pane_frames {
        rounded_corners true
    }
}

theme "catppuccin-mocha"
default_mode "locked"
default_cwd "/Users/nassim/Development"
scroll_buffer_size 20000

web_client {
    font "monospace"
}
